{% extends "movies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block custom_styles %}
<!-- Custom styles for this template -->
<link href="{% static 'movies/css/gallery_BS4.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'movies/css/grayscale.min.css' %}" rel="stylesheet">
<style>
        .masthead {
          position: relative;
          width: 100%;
          height: auto;
          min-height: 35rem;
          padding: 15rem 0;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("{% static 'movies/img/treading_water.jpg' %}");
          background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("{% static 'movies/img/treading_water.jpg' %}");
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
        }




</style>
{% endblock custom_styles %}


{% block header %}
<div class="container">
    <a href="#profile-info">
        <div class="row mt-3 mb-3">
            <div class="Portfolio card col">
                <h2 class="mt-2 mb-2">My Account</h2>
            </div>
        </div>
    </a>
</div>
{% endblock header %}

{% block about %}

{% endblock about %}

{% block projects %}
<div class="container">
    <div class="row mt-3  mb-3">
        <div class="col-sm-8 col-md-6 col-lg-4 text-white">
            <img class="Portfolio card-img rounded-circle account-img" src="{{ user.profile.image.url }}"
                 alt="Card image">
        </div>

        <div class="col-sm-4 col md-6 col-lg-4">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p>{{ user.email }}</p>
            </div>
        </div>

    </div>
</div>
<div class="container mt-5" id="profile-info">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom bm-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
<div class="container mt-5">
    <div class="content-section">
        <div class="border-top pt-3">
            <small class="text-muted">Want to
                <a href="{% url 'logout' %}">log out</a>
                ?
            </small>
        </div>
    </div>
</div>
{% endblock projects %}

{% block similar %}
<!-- Signup Section -->

{% endblock similar %}
