{% extends "movies/collection_base.html" %}
{% load static %}


{% block title_area %}
{% if object.title %}
<title>{{ object.title }}</title>
{% else %}
<title>Category Detail</title>
{% endif %}
{% endblock title_area %}


{% block custom_styles %}
<!-- Custom styles for this template -->

<link href="{% static 'movies/css/gallery_BS4.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock custom_styles %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
<!-- Header -->

{% endblock header %}

{% block projects %}
<div class="container-fluid">

    <!-- Start categorical tabs section -->
    <div class="row">
        <ul class="nav align-self-left" id="pills-tab" role="tablist">
            {% if object %}
            <li class="nav-item">
                <a class="btn btn-outline-secondary"
                   href="{% url 'category-update' object.pk %}"
                   role="tab"
                   >Add Movies to {{ object.title }} Category</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab"
                   aria-controls="showall" aria-selected="true">No Title</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="nav">
        <div class="nav-item text-center">
            <a class="btn btn-primary js-scroll-trigger" href="{% url 'category-list' %}" >Back to Collection</a>
            <a class="btn btn-sm btn-warning js-scroll-trigger" href="{% url 'category-delete' object.pk %}">Delete {{ object.title }} Category</a>
        </div>
    </div>
    <!------------------------------------>

    <hr noshade>
    <div class="row">
        <div id="pills-tabContent">
            <!-- Start show all movie section -->
            <div class="tab-pane nav fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                {% if object %}
                {% for movie in object.movie.get_queryset %}
                <div class="nav-item col-2">
                    {% if movie.poster_path %}
                    <a href="{% url 'movie-detail' movie.tmdb_id %}"><img class="img-fluid Portfolio card-img"
                                     src="{{ movie.poster_path }}"
                                     alt=""></a>
                    {% else %}
                    <a href="#"><img class="img-fluid Portfolio card-img"
                                     src="http://via.placeholder.com/500x750?text=poster+unavailable"
                                     alt="">
                        <div class="desc">{{ movie.title }}</div>
                    </a>
                    {% endif %}
                </div>

                {% endfor %}
                {% else %}
                <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/300x450" alt=""></a>
                    <div class="desc">Category</div>
                </div>
                {% endif %}
            </div>
            <!-- ---------------------------- -->

        </div>
    </div>
</div>
{% endblock projects %}


{% block similar %}

{% endblock similar %}