{% extends "movies/base.html" %}
{% load static %}


{% block title_area %}

<title>Collection</title>

{% endblock title_area %}


{% block custom_styles %}
<!-- Custom styles for this template -->

<link href="{% static 'movies/css/gallery_BS4.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock custom_styles %}

{% block header %}

{% endblock header %}


{% block projects %}
<div class="container-fluid">

    <!-- Start categorical tabs section -->
    <div class="row">
        <ul class="nav align-self-left" id="pills-tab" role="tablist">
            {% if objects %}
            <li class="nav-item">
                <a class="btn btn-outline-secondary" id="showall-tab" data-toggle="pill" href="#showall"
                   role="tab"
                   aria-controls="showall">Show All</a>
            </li>
            {% for category in objects %}
            <li class="nav-item">
                <a class="btn btn-outline-secondary" id="{{ category.title|slugify }}-tab"
                   data-toggle="pill" href="#{{ category.title|slugify }}"
                   role="tab"
                   aria-controls="{{ category.title|slugify }}"
                   aria-selected="false">{{ category.title }}</a>
            </li>
            {% endfor %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab"
                   aria-controls="showall" aria-selected="true">Show All</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!------------------------------------>

    <hr noshade>
    <div class="row">
        <div id="pills-tabContent">
            <!-- Start show all movie section -->
            <div class="tab-pane nav fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                {% if objects %}
                {% for category in objects %}
                {% for movie in category.movie.get_queryset %}
                <div class="nav-item col-2">
                    {% if movie.info.poster_path %}
                    <a href="{% url 'movie-detail' movie.id %}"><img class="img-fluid Portfolio card-img"
                                     src="{{ movie.info.poster_path }}"
                                     alt=""></a>
                    {% else %}
                    <a href="{% url 'movie-detail' movie.id %}"><img class="img-fluid Portfolio card-img"
                                     src="http://via.placeholder.com/500x750?text=poster+unavailable"
                                     alt="">
                        <div class="desc">{{ movie.info.title }}</div>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
                {% endfor %}
                {% else %}
                <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/300x450" alt=""></a>
                    <div class="desc">Category</div>
                </div>
                {% endif %}
            </div>
            <!-- ---------------------------- -->

            <!-- Start categorical movie section -->
            {% if objects %}
            {% for category in objects %}
            <div class="tab-pane nav fade show" id="{{ category.title|slugify }}" role="tabpanel"
                 aria-labelledby="{{ category.title|slugify }}-tab">
             <div class="nav-item col-2">
                    <div class="card-body">
                        <a class="card-link" href="{% url 'category-detail' category.id %}">Edit {{category.title}}
                            Category</a>
                    </div>
                </div>

                {% for movie in category.movie.get_queryset %}
                <div class="nav-item col-2">
                    {% if movie.info.poster_path %}
                    <a href="{% url 'movie-detail' movie.id %}"><img class="img-fluid Portfolio card-img"
                                     src="{{ movie.info.poster_path }}"
                                     alt=""></a>
                    {% else %}
                    <a href="{% url 'movie-detail' movie.id %}"><img class="img-fluid Portfolio card-img"
                                     src="http://via.placeholder.com/500x750?text=poster+unavailable"
                                     alt="">
                        <div class="desc">{{ movie.title }}</div>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock projects %}


{% block similar %}

{% endblock similar %}